.seeMore {
  width: 100%;
  height: 40px;

  background: linear-gradient(to top, #ffffff, #ffffffd7, transparent);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;

  p {
    font-weight: bold;
  }
}

.seeLess {
  cursor: pointer;

  p {
    font-weight: bold;
  }
}