.collapsedMenu {
  transition-duration: 0.2s;

  width: 80vw;
  max-width: 200px;
  min-height: fit-content;

  background-color: #424242;
  border-bottom-right-radius: 10px;

  position: absolute;
  top: 0;

  z-index: 9999;

  .closeButtonBox {
    width: 100%;
    height: 35px;
    padding: 0 10px 0 0;

    cursor: pointer;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .closeButton {
      width: 10px;
      height: 10px;

      border-top: 2px solid #d4d4d4;
      border-left: 2px solid #d4d4d4;

      transform: rotate(315deg);
    }
  }


  .contactsbox {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    a:last-child {
      .contact {
        border: 0;
      }
    }

    a {
      transition-duration: 0.2s;
      width: 100%;
      height: fit-content;

      .contact {
        width: 100%;
        height: 40px;

        padding: 0 0 0 10px;

        border-bottom: 1px solid #d4d4d4;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    a:hover {
      filter: brightness(120%);
    }
  }
}

.isActive {
  left: 0;
}

.isNotActive {
  left: -200px;
}