.textCard {
  min-width: fit-content;
  max-width: 100vw;
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;

  border: 1px solid #d4d4d4;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #d4d4d4;

  text-align: start;
  word-wrap: break-word;

  .attachmentsBox {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    a {
      width: fit-content;
      height: fit-content;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 5px;

      color: #000000;
      font-weight: 600;

      .icon {
        width: 30px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}