* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: fit-content;

  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: 500;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

@media (min-width: 720px) {

  h1,
  h2 {
    font-size: 22px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 200px) {
  h1 {
    font-size: 18px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 180px) {

  h1,
  h2,
  p {
    word-break: break-all;
    word-wrap: break-word;
  }
}