.wrapper {    
  max-width: 800px;
  height: fit-content;
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;

  text-align: center;
  color: #ffffff;
}

.myPhotoBorder {
  width: fit-content;
  height: fit-content;
  padding: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid #ffffff;
  border-radius: 100%;

  .myPhotoWrapper {
    min-width: 100px;
    max-width: 200px;
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 300px) {
    .myPhotoWrapper {
      max-width: 150px;
    }
  }
}

.headline {
  max-width: 400px;
}

.headline:after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: flash .7s infinite;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.divisionLine {
  width: 100%;
  height: 1px;

  background-color: #ffffff;
}

.textBox {
  width: 100%;
  height: fit-content;

  text-align: center;
}

.technologiesBox {
  width: 100%;
  max-width: 800px;
  height: fit-content;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background-color: #424242;
  border-radius: 10px;
}

.image {
  width: fit-content;
  height: 28px;

  img {
    width: 100%;
    height: 100%;
  }
}