.myPhotoBorder {
  width: fit-content;
  height: fit-content;
  padding: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid #ffffff;
  border-radius: 100%;

  .myPhotoWrapper {
    max-width: 200px;
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  @media (max-width: 300px) {
    .myPhotoWrapper {
      max-width: 150px;
    }
  }
}

.headline {
  max-width: 400px;
}

.headline:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: flash 0.7s infinite;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.divisionLine {
  width: 100%;
  height: 1px;

  background-color: #ffffff;
}

.textBox {
  width: 100%;
  height: fit-content;

  text-align: center;
  // word-break: break-all;
  // word-wrap: break-word;
}

.technologiesBox {
  width: 100%;
  max-width: 800px;
  height: fit-content;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background-color: #424242;
  border-radius: 10px;

  .image {
    width: fit-content;
    height: 28px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 250px) {
  .technologiesBox {
    padding: 10px 5px;
  }
}
